body {
	background: url("http://usarmy.vo.llnwd.net/e2/rv5_images/arkansas/bg_grad.gif") #616545 repeat-x;
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: arial, helvetica, sans-serif;
	font-size: 62.5%;
	color: #3b3834;
}
#container {
	margin: 0 auto 0 auto;
	width: 720px;
}
#banner {
	background: url("http://usarmy.vo.llnwd.net/e2/rv5_images/arkansas/banner.jpg") no-repeat;
	width: 720px;
	height: 88px;
}
#starlink a {
	display: block;
	float: left;
	width: 56px;
	height: 74px;
	margin-top: 5px;
}
#patch_bottom {
	float: right;
	width: 125px;
	height: 71px;
	background: url("http://usarmy.vo.llnwd.net/e2/rv5_images/arkansas/patch_bottom.gif") no-repeat;
	margin-top: -1px;
}
#main {
	width: 710px;
	border: #fff 2px solid;
	border-top: 0;
	border-bottom: 0;
	padding: 0 3px;
	text-align: left;
}
#nav {
	float: left;
	font-size: 1.2em;
	color: #6a4a11;
	height: 22px;
	width: 710px;
}
#nav a {
	display: block;
	float: left;
	margin: 4px 40px 0 6px;
	text-decoration: none;
	color: #9f6d13;
}
#nav a:hover, #nav a:focus, #nav a:active {
	text-decoration: underline;
	color: #000;
}
span.current {
	display: block;
	float: left;
	margin: 4px 40px 0 6px;
	text-decoration: underline;
}
.normal {
	background: url("http://usarmy.vo.llnwd.net/e2/rv5_images/arkansas/norm_top.gif") no-repeat;
	border-bottom: 1px solid #7d8063;
}
#home_top{
	width: 710px;
	height: 262px;
	background: url("http://usarmy.vo.llnwd.net/e2/rv5_images/arkansas/home_top.jpg") #fff no-repeat;
	margin-bottom: 0;
}
#vid_link {
	width: 320px;
	height: 240px;
	margin: 0;
	padding: 0;
}
#content_wrap {
	padding: 1px 10px 1px 10px;
	background: url("http://usarmy.vo.llnwd.net/e2/rv5_images/arkansas/text_bg.gif") #fff repeat-y;
	font-size: 1.2em;
}
.big {
	font-size: 1.4em;
	color: #616545;
}
#content_wrap p { line-height: 1.5em;}
.title { padding: 30px 0 30px 20px;}
#flash_embed {
	padding: 0 0 20px;
	text-align: center;
}
#title_left {
	float: left;
	width: 330px;
}
#left_div {
	float: left;
	width: 310px;
	clear: left;
	padding-left: 20px;
	margin-bottom: 20px;
}
#title_right { float: left;}
#right_div {
	float: right;
	width: 320px;
	margin-bottom: 20px;
	border-left: 1px solid #c9ccb2;
	padding-left: 13px;
	padding-right:20px;
}
#lower {
	clear: both;
	padding-left: 20px;
	padding-right:20px;
	margin-bottom:20px;
}
.vid_entry {
	width: 310px;
	min-height: 80px;
}
.vid_entry a img {
	border: 1px solid #c9ccb2;
	float: right;
	margin-left: 5px;
}
.vid_entry a img:hover, .vid_entry a img:focus, .vid_entry a img:active { border: 1px solid #7d8063;}
.vid_entry p {
	margin: 0;
	padding: 3px 0 5px 0;
}
.doc_entry p {
	margin: 0;
	padding: 3px 0 5px 0;
	font-size:1.2em;
}
hr {
	border: 0;
	background-color: #c9ccb2;
	height: 1px;
	width: 200px;
	clear: both;
	text-align:center;
}
.vid_entry hr { margin: 10px auto 15px auto;}
.doc_entry hr { margin: 10px auto 15px auto;}
.doc_entry p a {
	text-decoration: none;
	color: #75785a;
	font-weight:bold;
}
.doc_entry a:hover, .doc_entry a:focus, .doc_entry a:active { text-decoration: underline;}
.doc_entry a img { border: 1px solid #c9ccb2;}
.doc_entry a img:hover, .doc_entry a img:focus, .doc_entry a img:active { border: 1px solid #7d8063;}
.walls {
	float: left;
	margin-left: 40px;
	text-align:center;
}
#bottom_shadow {
	width: 720px;
	height: 12px;
	background: url("http://usarmy.vo.llnwd.net/e2/rv5_images/arkansas/text_bottom.gif") no-repeat;
	clear: both;
}
#footer {
	clear: both;
	padding-top: 3px;
	height: 30px;
}
#footer ul {
	margin: 8px auto 0 auto;
	width: 610px;
	}
#footer li {
	float: left;
	margin: 0 20px 0 20px;
	list-style: none;
}
#footer li a {
	text-decoration: none;
	color: #fff;
}
#footer li a:hover, #footer li a:focus, #footer li a:active { text-decoration: underline;}

#facebook_like { margin-top:15px; }

/*-------------- Social Widget CSS --------------*/
#addThis h2,#shareClose { display:none; }
#addThis { font-size:11px; float:left; width:100%; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;}
#addThis ul { display:block; float:left; list-style:none outside none; }
#addThis li { float:left; width:101px; margin:5px 0; text-align:left; }
.share_sprite .textLink { padding-top:2px; float:left; margin-left:21px; width:80px; display:block; }
.share_sprite { display:inline; float:left; height:16px; width:16px; margin:4px; }
#tops .share_sprite .textLink { width:80px;  }

.facebook { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 0 no-repeat; }
.twitter { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -16px no-repeat; }
.googleplus { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -32px no-repeat; }
.pinterest { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -48px no-repeat; }
.stumbleupon { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -64px no-repeat; }
.reddit { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -80px no-repeat; }
.linkedin { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -96px no-repeat; }
.all { background:url(http://usarmy.vo.llnwd.net/e2/rv5_images/main/addThis-sprite.png) 0 -112px no-repeat; }
.share_sprite .textLink:hover,.share_sprite .textLink:focus,.share_sprite .textLink:active { color:#ffcb05; cursor:pointer; }
.altHeader { display: none;}
#modDate { display: none;}

h3 a {
	font-size: 1em;
	text-decoration: none;
	color: #ac8032;
	font-weight: normal;
}
h3 a:hover, h3 a:focus, h3 a:active { text-decoration: underline;}
h3 { margin:0;}

/*	skip navigation and other display content off screen items	*/
.head, h1, h2, .skip { 
position: absolute; 
left: -10000px;
top: auto; 
width: 1px; 
height: 1px; 
overflow: hidden;
}
.skip2 a { display: block; position: absolute; left: -10000px; top: auto; width: 100%; height: 3em; font-weight: bold; text-align: center; font-size:1.5em; color: #fff;} 
.skip2 a:active, .skip2 a:focus { background: #616545; position: static; width: auto; height: auto; padding: 1em; margin: auto;}